
.DS_Store
*.pyc
.idea/CODE.iml
.idea/dictionaries/taylorsmith.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/workspace.xml
inter_intra_dist.txt
kdigo_transitions.png
kdigo_transitions_noflat.png
temp.csv
temp.py
temp2.py
aki_eval/~$comparison.xlsx
aki_eval/theirs/stage4_20_61918.xlsx
aki_eval/theirs/stage3_20_61918.xlsx
aki_eval/theirs/stage2_20_61918.xlsx
aki_eval/theirs/stage1_20_61918.xlsx
aki_eval/theirs/stage0_20_61918.xlsx
aki_eval/theirs/all_aki1_61918.xlsx
aki_eval/ours/k4_ids.txt
aki_eval/ours/k3_ids.txt
aki_eval/ours/k2_ids.txt
aki_eval/ours/k1_ids.txt
aki_eval/ours/k0_ids.txt
aki_eval/comparison.xlsx
temp.txt
venv/lib/python2.7/config/config.c
venv/lib/python2.7/config/config.c.in
venv/lib/python2.7/config/install-sh
venv/lib/python2.7/config/Makefile
venv/lib/python2.7/config/makesetup
venv/lib/python2.7/config/python.o
venv/lib/python2.7/config/Setup
venv/lib/python2.7/config/Setup.config
venv/lib/python2.7/config/Setup.local
